<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/css/mainStyle.css" />

    <%- include('../partials/header_footer'); %>
  </head>

  <body>
    <%- include("../partials/nav"); %>

    <p>
      Dette er <strong>eksempel 1</strong>, som har samme head og navbar som
      eksempel 2 vha. partials.
    </p>
  </body>
  <footer><%- include("../partials/nav_foot") %></footer>
</html>
