<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/css/mainStyle.css" />
    <link rel="stylesheet" type="text/css" href="/css/startSide.css" />
    

    <%- include('../partials/header_footer'); %>
    <%- include('../partials/popup'); %>

    <script src="js/cssHelp.js" defer></script>
  </head>

  <body>
    <header id="myHeader"><%- include("../partials/nav_head"); %></header>

    <div class="welcome"></div>
    <div class="info">
      <p>
        Dette er <strong>eksempel 1</strong>, som har samme head og navbar som
        eksempel 2 vha. partials.
      </p>
    </div>
    <div class="getStarted"></div>

    <footer><%- include("../partials/nav_foot") %></footer>
  </body>
</html>
