<link rel="stylesheet" type="text/css" href="/css/header_footer.css" />

<div id="id_head">
  <nav id="nav_head">
    <ul id="ul_head">
      <li id="li_head">
        <a id="a_head" href="/">Home</a>
      </li>
      <li id="li_head">
        <a id="a_head" href="/sunMood">Sun mood</a>
      </li>
      <li id="li_head">
        <a id="a_head" href="/">Log ind</a>
      </li>
    </ul>
  </nav>
</div>
