<nav class="nav_head">
  <p class="logo">Logo</p>
  <ul class="ul_head">
    <li class="li_head">
      <a class="a_head elem_head" href="/sunMood"
        ><h4 id="sollys" class="head_text">Sollys</h4></a
      >
    </li>
    <li class="li_head">
      <button class="button_head elem_head" id="login_btn">
        <h4 class="head_text" id="login">Log ind</h4>
      </button>
    </li>
    <li class="li_head">
      <button class="button_head elem_head" id="opret_btn">
        <h4 class="head_text" id="opret_bruger">Opret Bruger</h4>
      </button>
    </li>
  </ul>
</nav>
