<link rel="stylesheet" type="text/css" href="/css/header_footer.css" />

<nav id="nav_foot">
  <ul id="ul_foot">
    <li id="li_foot">
      <a id="a_foot" href="/">Home</a>
    </li>
    <li id="li_foot">
      <a id="a_foot" href="/sunMood">Sun mood</a>
    </li>
    <li id="li_foot">
      <p id="p_foot">@Tiffany Schilling</p>
    </li>
  </ul>
</nav>