

<nav class="nav_foot"> 
  <ul class="ul_foot">
    <li class="li_foot">
      <a class="a_foot" class="p_foot" href="/">Home</a>
    </li>
    <li class="li_foot">
      <a class="a_foot" class="p_foot" href="/sunMood">Sun mood</a>
    </li>
    <li class="li_foot">
      <p class="p_foot">@Tiffany Schilling</p>
    </li>
  </ul>
</nav>