<link rel="stylesheet" type="text/css" href="/css/popup.css" />
<script src="js/popup.js" defer></script>

<div id="login_popup" class="popup">
  <div id="login_content" class="popup_content">
    <span class="close_login close" id="close_login">&times;</span>
    <p>Hello, login_popup</p>
  </div>
</div>

<div id="opret_popup" class="popup">
  <div id="opret_content" class="popup_content">
    <span class="close_opret close" id="close_opret">&times;</span>
    <p>Hello, opret_bruger</p>
  </div>
</div>
