body {
  font-family: "Montserrat";
  font-size: 1em;
  font-weight: 500;
  line-height: 1.75;
  color: var(--shades-dark-shades);
  margin: 0;
}

p {
  margin-bottom: 1rem;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 3rem 0 1.38rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.3;
}

:root {
  --shades-light-shade: #f2f6f0;
  --shades-main-brand-color: #eea022;
  --shades-dark-accent: #ba603b;
  --shades-light-accent: #94aaa2;
  --shades-dark-shades: #243a3a;
  --action-primary: #efa024;
  --action-info: #243a3a;
  --action-success: #7dab43;
  --action-warning: #fa9a0b;
  --action-danger: #f44336;

  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-s: 0.75rem;
  --spacing-m: 1rem;
  --spacing-l: 1.25rem;
  --spacing-xl: 1.5rem;
  --spacing-xxl: 1.75rem;
}

h1 {
  font-family: "Montserrat";
  font-size: 3rem;
  
}

h2 {
  font-family: "Montserrat";
  font-size: 2.5rem;

}

h3 {
  font-family: "Montserrat";
  font-size: 2rem;

}

h4 {
  font-family: "Montserrat";
  font-size: 1.5rem;

}

h5 {
  font-family: "Montserrat";
  font-size: 1.25rem;

}

h6 {
  font-family: "Montserrat";
  font-size: 1rem;

}

.Body-P-Larger {
  font-family: "Montserrat";
  font-size: 2rem;

}

.Body-P-Large {
  font-family: "Montserrat";
  font-size: 1.5rem;

}

.Body-P-Small {
  font-family: "Montserrat";
  font-size: 0.75rem;

}

.Body-P-Smaller {
  font-family: "Montserrat";
  font-size: 0.625rem;

}
